<div ng-show="user.id" class="col-md-12">
  <button class="btn btn-primary dropdown-toggle pull-right" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <span class="glyphicon glyphicon-user"></span>
      &nbsp; Welcome, User!&nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
    <li>
      <a>
        <span class="glyphicon glyphicon-send">&nbsp;{{ user.email }}&nbsp; </span>
      </a>
    </li>
    <li role="presentation">
      <a a href="" ng-click="signOut()">
        <span class="glyphicon glyphicon-log-out"></span>
        &nbsp;Log Out!
      </a>
    </li>
  </ul>
</div>
<div class="col-md-12" ng-controller="ProjectsCtlr as ctlr">
  <div class="panel panel-primary" ng-repeat="project in ctlr.projects" ng-hide="ctlr.projects.length==0">
    <div class="panel-heading" ng-include="'project.html'" onload="project">
    </div>
    <div class="panel-body" ng-controller="TasksCtlr as ctlrTask">
      <form class="form-inline" role="form" name="{{newTask.name}}" ng-submit="ctlrTask.addTask(newTask, project)" ng-init="newTask">
        <div class="form-group">
          <span class="glyphicon glyphicon-plus"></span>
          <input type="text" name="task" class="form-control" ng-model="newTask.name" placeholder="Start typing here to create a task" required>
          <button type="submit" class="btn btn-success">Add task</button>
        </div>
      </form>
      <div>
      <ul class="list-group" ng-repeat="task in project.tasks" ng-hide="project.tasks.length==0">
        <li class="list-group-item" ng-include="'task.html'" onload="task">
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12" style="margin-top: 15px;" ng-controller="ProjectsCtlr as ctlr">
  <button class="btn btn-primary center-block" ng-click="showProjectForm=true" type="submit" ng-show="!showProjectForm">
    <span class="glyphicon glyphicon-plus">&nbsp;Add TODO List
  </button>
  <form class="form-inline" name="projectForm" ng-init="newProject" ng-show="showProjectForm">
    <div class="form-group" style="text-align: center">
      <span class="glyphicon glyphicon-plus"></span>
      <input type="text" class="form-control" id="nameProject" placeholder="Description of the project" ng-model="newProject.name" required>
      <button type="submit" class="btn btn-primary" ng-click="ctlr.addProject(newProject); showProjectForm=false;"> Add project </button>
    </div>
  </form>
</div>
