<div ng-controller="ProjectsCtlr as ctlr">
  <div class="pull-left calendar glyphicon glyphicon-calendar"></div>
  <div class="pull-left" editable-text="project.name" onaftersave="project.put()" e-form="projectF">{{ project.name }}</div>
  <div class="pull-right">
    <a href="" class="pencil" id="editProject_{{project.id}}" ng-click="projectF.$show()" ng-hide="projectF.$visible">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a href="" class="trash" id="deleteProject_{{project.id}}" ng-click="ctlr.removeProject(project)">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="clear"></div>
</div>
