<div ng-show="user.id" class="col-md-12">
  <button class="btn btn-primary dropdown-toggle pull-right" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <span class="glyphicon glyphicon-user"></span>
      &nbsp; Welcome, User!&nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
    <li>
      <a>
        <span class="glyphicon glyphicon-send">&nbsp;{{ user.email }}&nbsp; </span>
      </a>
    </li>
    <li role="presentation">
      <a a href="#" ng-click="signOut()">
        <span class="glyphicon glyphicon-log-out"></span>
        &nbsp;Log Out!
      </a>
    </li>
  </ul>
</div>
