<div ng-show="user.id" class="col-md-12" ng-controller="sessionCtrl">
  <button class="btn btn-primary pull-right" ng-click="signOut()">
    <span class="glyphicon glyphicon-log-out"></span>
      Log Out!
  </button>
</div>
<div class="col-md-12" ng-controller="ProjectsCtlr as ctlr">
  <div class="panel panel-primary" ng-repeat="project in ctlr.projects" ng-hide="!ctlr.projects.length">
    <div class="panel-heading" ng-include="'project.html'" onload="project">
    </div>
    <div class="panel-body" ng-controller="TasksCtlr as ctlrTask">
      <form class="form-inline" role="form" ng-submit="ctlrTask.addTask(newTask, project)" ng-init="newTask">
        <div class="form-group">
          <span class="glyphicon glyphicon-plus"></span>
          <input type="text" name="task" class="form-control" ng-model="newTask.name" placeholder="Start typing here to create a task" required>
          <button type="submit" class="btn btn-success">Add task</button>
        </div>
      </form>
      <div>
      <ul class="list-group" ng-repeat="task in project.tasks" ng-hide="!project.tasks.length">
        <li class="list-group-item" ng-include="'task.html'" onload="task">
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12" style="margin-top: 15px;" ng-controller="ProjectsCtlr as ctlr">
  <button class="btn btn-primary center-block" ng-click="showProjectForm=true" type="submit" ng-show="!showProjectForm">
    <span class="glyphicon glyphicon-plus">&nbsp;Add TODO List
  </button>
  <form class="form-inline" name="projectForm" ng-init="newProject" ng-show="showProjectForm">
    <div class="form-group" style="text-align: center">
      <span class="glyphicon glyphicon-plus"></span>
      <input type="text" class="form-control" id="nameProject" placeholder="Description of the project" ng-model="newProject.name" required>
      <button type="submit" class="btn btn-primary" ng-click="ctlr.addProject(newProject); showProjectForm=false;"> Add project </button>
    </div>
  </form>
</div>
